 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelanceras .</p>
                </div>
                <div class="col-lg-4">
                    <p>I am very passionate about create and distribute new products using the latest technology. (I’m very passionate about financial market. ) my dream is to work closely to financial market, discovery new risk management, trading tools and eventually develop a very good sense of investment. financial market and eventually being able to solve complex problem to push my firm to the maximum profitability.  As a software engineer, I believe that my approaches to the problem can always lead to a better solution to the problem. I always consider myself as a idea personal and I’m very good at analysis/ breaking down a real world problem into smaller parts and find a work around to certain problem. I have a mean </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
